<div>
    {{#each posts as |post| }}
    <p>
        {{post.name}}
    </p>
    {{/each}}
    </div>
<div class="grid-item">
      <div class="h2">header</div>
        <form class="entries new-post-form">
          <div class="form-group entry">
            <label for="title">Title</label>
            <input id="title" type="text"/>
          </div>
          <div class="form-group entry">
            <label for="description">Description</label>
            <input id="description" type="text"/>
          </div>
          <div class="form-group">
            <div class="btn-form">
              <button class="btn submit" type="submit">Submit</button>
            </div>
          </div>
      </form>
    </div>

<script src="/js/dashboard.js"></script>